@font-face {
  font-family: "Rakkas-Regular";
  src: url("/src/assets/Rakkas-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Cairo-Regular";
  src: url("/src/assets/Cairo-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
